* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background: url("imagens/peruibePraia.jpeg") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

h1 {
  color: #ff8c00;
  margin-bottom: 5px;
}

.subtitulo {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ff8c00;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ffa733;
}

a {
  color: #ffa733;
  text-decoration: none;
}

.oculto {
  display: none;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #fff;
  color: #333;
  font-weight: 500;
  border: 1px solid #ddd;
}

.google-btn:hover {
  background: #f1f1f1;
}

